.block {
    background: #fff;
    float: left;
    width: 800px;
    height: 800px;
  
    margin: 5px;
    
  }

.snapshot {
text-align: center;
}
.snapshot img {
    max-width: 800px;
    max-height: 800px;
    filter: brightness(50%);
}

.attributeTitle{
    
}

.attributeContainer{
    clear: right;
}

.webcam-tile{
    padding: 0px;
    margin-top: -350px;
}

#fjordlogo{
    background-image: url('../../assets/images/fjordlogo.png');
    background-repeat:no-repeat;
    background-size:100%;
    width: 500px;
    height: 200px;
    margin-bottom: 0px;
}


.captured-image {
    position: fixed;
    right: 0;
    bottom: -250px;
    min-width: 100%;
    min-height: 153%;
    object-fit: fill;
}

.picture-button-container{
    position:absolute;
    width:156px;
    height:100px;
    bottom:0px;
    right:25%;
    left:50%;
    margin-left:-78px;
}

.countdown{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 500px;
  padding-left:50px;
  text-align: center;
}

.countdown span{
    font-family: "Oswald-Light";
    font-size: 300px;
    color: white;
}

.console{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 300px;
  padding-left:50px;
  text-align: center;
  color: white;
}

.console span{
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 42px;
    color: white;
}

.snapbutton{
    
}

i{
    font-style: unset;
    font-size: 1em;
    animation: blink 1100ms linear infinite;
}

@keyframes blink {
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
}

.fingerprint {
    width: 100%;
    height: 100%;
    /*border: solid 3px #AAB8BE;*/
  }
  
  .fingerprint.scanning::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to bottom,
      rgba(206, 71, 47, 0),
      rgba(206, 71, 47, .8));
    animation: scanning .8s linear infinite;
  }
  
  @keyframes scanning {
      100% { transform: translate(0, 652px); }
  }