<div class="slide-title">
    <h1>EVERYBODY'S A REGULAR</h1>
</div>
<div class="center" style="width:277px;">
    <img src="./assets/images/robo-butler.svg" />
</div>
<div class="center" style="width: 535px; text-align: center;">
    <p>Unsure of what to order? Our robo-mixologist is here to help! Simply snap a photo using this tablet and our totally magical machine learning algorithms will devise something we think you’ll love.</p>
    <button mat-raised-button routerLink="/experience">Get Started</button>
</div>
